<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Bootstrap Open Flashcards | Test</title>
    
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
  
    <h2 class="text-center">Open Flashcards</h2>
    
    <h3 class="col-sm-offset-2 col-sm-10"><label th:text="'Word: ' + ${question.word}"></label></h3>
    
    <form class="form-horizontal" action="#" th:action="@{/flashcards-test}" th:object="${question}" method="post">
      
      <input type="hidden" th:field="*{word}" />
      <input type="hidden" th:field="*{translation}" />
      <input type="hidden" th:field="*{helpPhrase}" />
      <input type="hidden" th:field="*{article}" />
      <input type="hidden" th:field="*{category}" />
    
		  <div class="form-group">
		    <label for="article" class="col-sm-2 control-label">Article</label>
		    <div class="col-sm-6">
          <input type="text" th:field="*{userArticle}" class="form-control" id="article" autofocus="autofocus" />
        </div>
		  </div>
		  <div class="form-group">
	      <label for="translate" class="col-sm-2 control-label">Translate</label>
		    <div class="col-sm-6">
		      <input type="text" th:field="*{userTranslation}" class="form-control" id="translate" />
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
	  	      <button type="submit" class="btn btn-primary">Answer!</button>
	          <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#helpPhrase" aria-expanded="false" aria-controls="helpPhrase">
		         Press for help :)
	          </button>
		    </div>
		  </div>
		</form>
		
		<div class="collapse" id="helpPhrase">
		  <div class="well">
		    <p th:text="${question.helpPhrase}"></p>
		  </div>
    </div>
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>